html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer a {
    text-decoration: none;
    color: gray;
}

footer p {
    color: gray;
}

.main-description {
    padding: 40px;
}

.main-mission {
    padding: 40px;
}

.main-contact {
    padding: 40px;
}

.main-pricing {
    padding: 40px;
}

.main-info {
    background-image: url('background.jpg');
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat;

    padding: 8rem 2rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #800000;
    color: white;
    padding: 1rem 2rem;
}

.logo {
    width: 240px;
    height: auto;
    max-width: 100%;
    display: block;
}

#h-title {
    text-align: start;
    vertical-align: middle;
    color: #FFFFFF;
}

.main-nav ul {
    color: #FFFFFF;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}
.main-nav a {
    color: inherit; /* Hereda el color blanco del ul */
    text-decoration: none; /* Quita el subrayado */
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
}

.footer-nav ul {
    color: #FFFFFF;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}
